/*全体設定*/
section {
  margin: 50px 0;
}
/*header*/
img {
  width: 100%;
  height: auto;
}
nav a {
  background-color: blue;
  text-decoration: none;
  color: white;
  width: 30%;
  padding: 10px 0;
  position: absolute;
  top: 70%;
  left: 50px;
  text-align: center;
  border: solid 1px white;
  font-weight: bold;
  font-size: 1.5em;
}
/*section-more*/

.h2 {
  background-color: aqua;
  padding: 30px 0;
  width: 40%;
  text-align: center;
}
.h2 span {
  color: white;
  font-weight: bold;
  font-size: 2em;
}
.h2 a {
  color: black;
  text-decoration: none;
}


/*section-aboutus*/
#aboutus {
  background-image: url(images/main02.png);
}
.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about li {
  width: 48%;
  background-color: white;
  border-radius: 20px;
  padding: 60px;
  margin-bottom: 32px;
}
/*section-recruit*/